<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penny Pinchers</title>
    <link rel="stylesheet" href="/CSS/dashboard.css" type="text/css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <header class="headTitle">
        <h1 class="headApName">Penny Pinchers</h1>
    
    </header> 

<div class="dashAll">
   
    <div class="dashSaveTitle">
         {{#each budget}}
    
        <div class="grocDiv">
            <h3 class="dashGroc">Groceries</h3>
            <p class="grocBudget">{{groceriesBudget}}</p>
        </div>
        <div class="transDiv">
            <h3 class="dashtrans">Transportation</h3>
            <p class="transBudget">{{transportationBudget}}</p>
        </div>
        <div class="diningDiv">
            <h3 class="dashDining">Dining</h3>
            <p class="diningBudget">{{diningBudget}}</p>
        </div>
        <div class="shopDiv">
            <h3 class="dashShop">Shopping</h3>
            <p class="shopBudget">{{shoppingBudget}}</p>
        </div>
    </div>
        {{/each}}
    
    <div class="graphDiv">
        <div class="chart1Div">
            <div id="chart1" class="chart1"></div>
        </div>
        <div class="chart2Div">
            <div id="chart2" class="chart2"></div>
        </div>
        <div class="chart3Div">
            <div id="chart3" class="chart3"></div>
        </div>
        <div class="chart4Div">
            <div id="chart4" class="chart4"></div>
        </div>
        
    </div>

    <div class="pointDiv">
        <p class="point">Total points: {{totalPoints}} </p>
    </div>

    <div class="buts">
        <div class="logBillBut">
            <a href="/logBill/{{num}}">Log Bill</a>
        </div>

        <div class="setBut">
            <a href="/setBudget{{num}}">Set Budget</a>
        </div>
    </div>
</div>

    <script type="text/javascript">
    
    //Chart 1 --------------------------------------
    
        var options = {
            series: [Number({{points.groceriesBudget}})],
            chart: {
            height: 200,
            type: 'radialBar',
            toolbar: {
            show: true
            }
        },
        plotOptions: {
            radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                image: undefined,
                imageOffsetX: 0,
                imageOffsetY: 0,
                position: 'front',
                dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
                }
            },
            track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, 
                dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
                }
            },
        
            dataLabels: {
                show: true,
                name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
                },
                value: {
                formatter: function(val) {
                    return parseInt(val);
                },
                color: '#111',
                fontSize: '26px',
                show: true,
                }
            }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#eab995'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
            }
        },
        stroke: {
            lineCap: 'round'
        },
        labels: ['Points'],
        };

        var chart = new ApexCharts(document.querySelector("#chart1"), options);
        chart.render();

        //Chart 2 --------------------------------------

            var options = {
            series: [Number({{points.transportationBudget}})],
            chart: {
            height: 200,
            type: 'radialBar',
            toolbar: {
            show: true
            }
        },
        plotOptions: {
            radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                image: undefined,
                imageOffsetX: 0,
                imageOffsetY: 0,
                position: 'front',
                dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
                }
            },
            track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, 
                dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
                }
            },
        
            dataLabels: {
                show: true,
                name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
                },
                value: {
                formatter: function(val) {
                    return parseInt(val);
                },
                color: '#111',
                fontSize: '26px',
                show: true,
                }
            }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#eab995'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
            }
        },
        stroke: {
            lineCap: 'round'
        },
        labels: ['Points'],
        };

        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();

        //Chart 3 --------------------------------------

            var options = {
            series:  [Number({{points.diningBudget}})],
            chart: {
            height: 200,
            type: 'radialBar',
            toolbar: {
            show: true
            }
        },
        plotOptions: {
            radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                image: undefined,
                imageOffsetX: 0,
                imageOffsetY: 0,
                position: 'front',
                dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
                }
            },
            track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, 
                dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
                }
            },
        
            dataLabels: {
                show: true,
                name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
                },
                value: {
                formatter: function(val) {
                    return parseInt(val);
                },
                color: '#111',
                fontSize: '26px',
                show: true,
                }
            }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#eab995'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
            }
        },
        stroke: {
            lineCap: 'round'
        },
        labels: ['Points'],
        };

        var chart = new ApexCharts(document.querySelector("#chart3"), options);
        chart.render();

        //Chart 4 --------------------------------------

            var options = {
            series: [Number({{points.shoppingBudget}})],
            chart: {
            height: 200,
            type: 'radialBar',
            toolbar: {
            show: true
            }
        },
        plotOptions: {
            radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                image: undefined,
                imageOffsetX: 0,
                imageOffsetY: 0,
                position: 'front',
                dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
                }
            },
            track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, 
                dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
                }
            },
        
            dataLabels: {
                show: true,
                name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
                },
                value: {
                formatter: function(val) {
                    return parseInt(val);
                },
                color: '#111',
                fontSize: '26px',
                show: true,
                }
            }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#eab995'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
            }
        },
        stroke: {
            lineCap: 'round'
        },
        labels: ['Points'],
        };

        var chart = new ApexCharts(document.querySelector("#chart4"), options);
        chart.render();

    </script>
</body>